li:last-child a {
  background: #d1efec;
  color: #383434;
}
li:last-child a:hover {
  color: white !important;
}
a.active {
  color: #19cfbd;
}
.logo {
  width: 100px;
}
header {
  padding: 5px 5vw;
}

.mobile__close .first {
  position: relative;
  margin: 0 !important;
  transform: rotate(40deg);
  transition: all ease 400ms;
}
.mobile__close .second {
  position: relative;
  margin: 0 !important;
  transform: rotate(-40deg);
  transition: all ease 400ms;
  top: -3.7px;
}
.mobile__close .third {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -1000;
  transition: all ease 100ms;
}
.mobile__open .first,
.mobile__open .second {
  transition: all ease-out 10ms;
}
