#main-illustration {
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInRight;
}
#main-text {
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInLeft;
}
#main-btn {
  position: relative;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInTop;
}

/* keyframes */
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(15%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInTop {
  0% {
    opacity: 0;
    top: -20px;
    /* transform: translateY(-2000px); */
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    top: 0px;
  }
}
