@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Rubik, Helvetica, Arial, sans-serif;
  font-size: 16px;

  color-scheme: light dark;
  /* color: #ffffffde; */
  background-color: #fff;
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}

body {
  margin: 0;
  overflow-x: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
